body {
  font-family: Roboto;
}

.big-size-h1 {
  font-size: 140px;
  letter-spacing: 13px;
  text-align: right;
}

ul {
  list-style: none;
}

.div-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-item button {
  margin-top: 5px;
}

.list-items li {
  padding: 7px;
}

.tag-and-btn {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.tag-and-btn button {
  font-weight: bolder;
}
